
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Chakra6.svg/512px-Chakra6.svg.png" style="width:30px;height:30px;">


<br>
<br>
<br>
<br>

<h2><strong>Chakra 6: “Third eye”</strong></h2>
<strong>Sanskrit & Meaning</strong>: Ajna - “perceiving”, “knowledge"
<strong>Location</strong>:  between the eyebrows
<strong>Element</strong>: All the elements in pure form
<strong>Sound or Mantra</strong>: KSAM or Ham
<strong>Color</strong>:  Indigo or bluish purple
<strong>Message</strong>: “I am seeing and perceiving truthfully.”  “I am filled with vision.”
<strong>Balanced</strong>: Insight, imagination, intuition, illumination, inner peace  <strong>Imbalanced</strong>: Rejection of spirituality, feeling stuck in life with out vision for future, poor clarity, fantasizing, headaches, vision problems
<strong>Ways to Correct Imbalances</strong>: Visualize, meditate, open self to inner guide, use of indigo or bluish purple in surroundings 

