<h2><strong>Chakra 7: Crown or “Crown Lotus”</strong></h2>
<strong>Sanskrit & Meaning</strong>: Sahasrara - “Thousand-Petaled Lotus Flower"
<strong>Location</strong>: slightly above the top of the head
<strong>Element</strong>: Cosmic/universal energy
<strong>Sound or Mantra</strong>: OM
<strong>Color</strong>: Violet to Pure White, Golden Rays of Light
<strong>Message</strong>: “I am filled with truthful understanding.”  “I am fully aware."
<strong>Balanced</strong>: Feelings of spiritual freedom and uninhibited energy flow in the body, universal and Divine connectedness
<strong>Imbalanced</strong>: Delusions, mental disorders, crises in spirituality
<strong>Ways to Correct Imbalances</strong>: Visualize being completely filled with pure white light; correct imbalances in other chakras; seek out a Reiki Master or Energy Healer; use of the color violet or light purple in surroundings
